<launch>
  <!-- Start RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hector_slam_launch)/rviz_cfg/mapping.rviz" />

  <!-- Optional static transform if required -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0 0 0 0 0 0 base_link laser 100" />
</launch>
